h1{
    text-align: center;
    background-color: blanchedalmond;
    color: blue;
}
body{
    align-items: center;
    background-image: url(https://wallpapercave.com/wp/wp5555764.jpg);
    background-size: auto;
    background-repeat:repeat-x;
}